@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: "Poppins";
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.first-section {
  position: relative;
  padding-top: 40px;
  margin-bottom: 90px;
}
.first-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-section__signBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.first-section__logo {
  width: 146px;
  height: 48px;
}
.first-section__signImg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.first-section hr {
  border: 1px solid #808080;
  margin-bottom: 20px;
}
.first-section__searchBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.first-section__location {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.first-section__locationImg {
  margin-right: 10px;
}

.second-section {
  position: relative;
  display: flex;
  margin-bottom: 60px;
}
.second-section__slogan {
  display: flex;
  align-items: center;
  height: 630px;
  margin-right: 138px;
}
.second-section__text {
  font-weight: 300;
  font-size: 96px;
  max-width: 548px;
  line-height: 100px;
}
.second-section__text span {
  color: #FFAE5D;
  font-weight: 700;
}
.second-section__text span:last-child {
  color: black;
}
.second-section__hotdeals {
  width: 878px;
}
.second-section__goods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.third-section {
  margin-bottom: 60px;
}

.fourth-section {
  margin-bottom: 120px;
}
.fourth-section__hotdeals {
  margin-bottom: 80px;
}
.fourth-section__searchedItems {
  margin-bottom: 80px;
}
.fourth-section__special-offer {
  margin-bottom: 50px;
  position: relative;
}
.fourth-section__offerBox {
  max-width: 750px;
  position: absolute;
  left: 387px;
  top: 138px;
}
.fourth-section__offerBox__title {
  position: absolute;
  top: 0;
  left: 485px;
}
.fourth-section__offerBox__text {
  position: absolute;
  top: 189px;
  left: 274px;
}
.fourth-section__furniture {
  margin-bottom: 80px;
}
.fourth-section__goods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fourth-section__bigDeal {
  display: flex;
  justify-content: space-between;
}

.last-section {
  background: #404040;
  padding-right: 0;
  padding-left: 0;
}
.last-section__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
.last-section__nav-container li {
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin-right: 40px;
}
.last-section__nav-container li:last-child {
  margin-right: 0px;
}
.last-section__countryBox {
  display: flex;
  align-items: center;
}
.last-section__countryBox img {
  margin-right: 10px;
}
.last-section__countryBox p {
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
}

.header__text {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.location__text {
  font-weight: 500;
  font-size: 16px;
}

.location-block {
  height: 56px;
  background: #FFAE5D;
  border-radius: 20px;
  padding: 16px;
}

.search {
  height: 56px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  padding: 16px;
}
.search input {
  outline: none;
  border: none;
  min-width: 600px;
  font-family: "Poppins", "Mulish";
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-menu__list-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #606060;
}
.nav-menu__list-item2 a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.title__text {
  font-weight: 600;
  font-size: 24px;
}
.title__border {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px dashed #FFAE5D;
}

.good {
  max-width: 256px;
  padding: 10px;
}
.good__img {
  width: 235px;
  height: 235px;
  margin-bottom: 5px;
}
.good__description {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
.good__cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
}
.good__sale {
  color: #FF3232;
}

.offer-title {
  font-weight: 700;
  font-size: 32px;
  color: #A29781;
}

.offer-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: #606060;
}

.big-description {
  font-weight: 600;
  font-size: 24px;
}

.rating-text {
  font-weight: 400;
  font-size: 16px;
  color: #FFAE5D;
}

.big-price {
  font-weight: 600;
  font-size: 24px;
}

.bigDeal__item {
  padding: 10px;
  border: 1.5px solid rgba(129, 129, 129, 0.5);
  border-radius: 20px;
  max-width: 740px;
  max-height: 385px;
  display: flex;
  align-items: center;
}
.bigDeal__item__img {
  margin-right: 60px;
}
.bigDeal__item__description {
  margin-bottom: 20px;
}
.bigDeal__item__price {
  margin-bottom: 20px;
}
.bigDeal__item__rating {
  display: flex;
  align-items: center;
}
.bigDeal__item__starBox {
  margin-right: 15px;
}/*# sourceMappingURL=style.css.map */